@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color:#000000;
  text-decoration: none;
}

.user-menu-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
}

.user-menu-link .favs-number {
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #7DB54F;
}

.main-page {
  background-image: url(../images/photos/background-index.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.greeting {
  background-image: url(../images/main-banner-divider.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.intro,
.services-title,
.booking-form h3,
.newsletter-catalog h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages,
.services-description,
.booking-form p,
.newsletter-catalog p {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.navigation-list,
.advantages-list,
.services-list,
.social-list,
.breadcrumbs,
.catalog-filter-list,
.catalog-filter-group,
.display-as,
.pagination,
.hotel-list {
  list-style: none;
}

.group-1 h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
}

.group-2 h3,
.services-item h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.group-1 {
  background-color:#83B3D3;
}

.group-2,
.services-item:not(:nth-child(2)) {
  background-color: rgba(131, 179, 211, 0.12);
}

.group-2:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.group-1 p {
  font-weight: 400;
  color: #FFFFFF;
}

.group-2 p,
.services-item p {
  font-weight: 400;
  color: #333333;
}

.hotel-search {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
}

.newsletter-main-page {
  background-image: url(../images/photos/background-subscribe.jpg);
  background-color: #82B3D3;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.newsletter-main-page h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
}

.newsletter-main-page p {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #FFFFFF;
}

.newsletter-subscription .submit-button,
.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

.newsletter-subscription .field {
  background-image: url(../images/icons/newsletter-email.svg);
  background-repeat: no-repeat;
  background-size: 16px 15px;
  background-color: #F2F2F2;
}

.vkontakte .button {
  background-image: url(../images/icons/social-vk.svg);
  background-repeat: no-repeat;
  background-size: 24px 14px;
}

.telegram .button {
  background-image: url(../images/icons/social-telegram.svg);
  background-repeat: no-repeat;
  background-size: 18px 15px;
}

.youtube .button {
  background-image: url(../images/icons/social-youtube.svg);
  background-repeat: no-repeat;
  background-size: 22px 17px;
}

.hotels-filter {
  background-image: url(../images/photos/background-catalog-hotel-filter.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #82B3D3;
  color: #FFFFFF;

}

.hotels-filter h1 {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-item a {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.catalog-filter .submit-button,
.catalog-filter .reset-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
}

.catalog-filter .submit-button {
  background-color: #82B3D3;
}

.search-found {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.sort-by {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #FFFFFF;
}

.plates .display-as-button {
  background-image: url(../images/icons/display-as-plates.svg);
  background-repeat: no-repeat;
  background-size: auto;
}

.slideshow .display-as-button {
  background-image: url(../images/icons/display-as-slideshow.svg);
  background-repeat: no-repeat;
  background-size: auto;
}

.list .display-as-button {
  background-image: url(../images/icons/display-as-list.svg);
  background-repeat: no-repeat;
  background-size: auto;
}

.hotel-card-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.hotel-type,
.hotel-min-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.hotel-description-page,
.add-to-favs,
.in-favs {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}

.add-to-favs {
  background-color: #82B3D3;
}

.in-favs {
  background-color: #7DB54F;
}

.rating-mark {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

.pagination-current {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #F2F2F2;
  text-transform: uppercase;
  text-decoration: none;
}

.newsletter-subscription .catalog {
  background-image: none;
}

.search-button {
  background-image: url(../images/icons/user-menu-search.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #FFFFFF;
  color: inherit;
}

.favorites-button {
  background-image: url(../images/icons/user-menu-favorites.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #FFFFFF;
  color: inherit;
}

.home-icon {
  background-image: url(../images/icons/to-the-main.svg);
  background-repeat: no-repeat;
  background-size: auto;
}
