@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color:#000000;
  text-decoration: none;
}

.user-menu-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
}

.user-menu-link .favs-number {
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #7DB54F;
}

.greeting-banner {
  background-image:
  url(../images/main-banner-divider.svg),
  url(../images/photos/background-index.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: 100% auto, 100% auto;
  background-color: #222c37;
  background-position: center bottom, center center;
}

.intro,
.services-title,
.booking-form h3,
.newsletter-catalog h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages,
.services-description,
.booking-form p,
.newsletter-catalog p {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.navigation-list,
.advantages-list,
.services-list,
.social-list,
.breadcrumbs,
.catalog-filter-list,
.catalog-filter-group,
.display-as,
.pagination,
.hotel-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.group-1 h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
}

.group-2 h3,
.services-item h3,
.group-3 h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.group-1 {
  background-color:#83B3D3;
}

.group-2 {
  background-color: rgba(131, 179, 211, 0.12);
}

.group-3 {
  background-color: rgba(131, 179, 211, 0.2);
}

.group-1 p {
  font-weight: 400;
  color: #FFFFFF;
}

.group-2 p,
.services-item p,
.group-3 p {
  font-weight: 400;
  color: #333333;
}

.housing {
  background-image: url(../images/services-house.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-color: rgba(131, 179, 211, 0.12);
}

.food {
  background-image: url(../images/services-food.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #FFFFFF;
}

.gifts {
  background-image: url(../images/services-gift.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-color: rgba(131, 179, 211, 0.12);
}

.hotel-search {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}

.newsletter-main-page {
  background-image: url(../images/photos/background-subscribe.jpg);
  background-color: #82B3D3;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.newsletter-main-page h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
}

.newsletter-main-page p {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #FFFFFF;
}

.newsletter-subscription .submit-button,
.pagination-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  padding: 0;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

.newsletter-subscription .field {
  background-image: url(../images/icons/newsletter-email.svg);
  background-repeat: no-repeat;
  background-size: 16px 15px;
  background-color: #F2F2F2;
  margin: 0;
}

.vkontakte .social-item-button {
  background-image: url(../images/icons/social-vk.svg);
  background-repeat: no-repeat;
  background-size: 24px 14px;
  display: inline-block;
  width: 24px;
  height: 14px;
}

.telegram .social-item-button {
  background-image: url(../images/icons/social-telegram.svg);
  background-repeat: no-repeat;
  background-size: 18px 15px;
  display: inline-block;
  width: 18px;
  height: 15px;
}

.youtube .social-item-button {
  background-image: url(../images/icons/social-youtube.svg);
  background-repeat: no-repeat;
  background-size: 22px 17px;
  display: inline-block;
  width: 22px;
  height: 17px;
}

.hotels-filter {
  background-image: url(../images/photos/background-catalog-hotel-filter.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #82B3D3;
  color: #FFFFFF;

}

.hotels-filter h1 {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-item a {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  width: 12px;
  height: 12px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.catalog-filter .submit-button,
.catalog-filter .reset-button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  padding: 0;
}

.catalog-filter .submit-button {
  background-color: #756157;
}

.catalog-filter .reset-button {
  background-color: transparent;
}

.search-found {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.sort-by {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #FFFFFF;
}

.display-as-plates {
  background-image: url(../images/icons/display-as-plates.svg);
  background-repeat: no-repeat;
  background-size: auto;
  display: inline-block;
  width: 16px;
  height: 14px;
}

.display-as-slideshow {
  background-image: url(../images/icons/display-as-slideshow.svg);
  background-repeat: no-repeat;
  background-size: auto;
  display: inline-block;
  width: 16px;
  height: 14px;
}

.display-as-list {
  background-image: url(../images/icons/display-as-list.svg);
  background-repeat: no-repeat;
  background-size: auto;
  display: inline-block;
  width: 16px;
  height: 14px;
}

.hotel-card-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.hotel-type,
.hotel-min-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.hotel-description-page,
.add-to-favs,
.in-favs {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  padding: 0;
}

.add-to-favs {
  background-color: #82B3D3;
}

.in-favs {
  background-color: #7DB54F;
}

.rating-mark {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

.pagination-current {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #F2F2F2;
  text-transform: uppercase;
  text-decoration: none;
}

.newsletter-subscription .catalog {
  background-image: none;
}

.search-button {
  background-image: url(../images/icons/user-menu-search.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #FFFFFF;
  color: inherit;
  display: inline-block;
  width: 18px;
  height: 18px;
}

.favorites-button {
  background-image: url(../images/icons/user-menu-favorites.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #FFFFFF;
  color: inherit;
  display: inline-block;
  width: 18px;
  height: 17px;
}

.home-icon {
  background-image: url(../images/icons/to-the-main.svg);
  background-repeat: no-repeat;
  background-size: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip-path: rect(0,0,0,0);
  overflow: hidden;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

html {
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page-header,
.site-navigation,
.navigation-list,
.footer-container,
.social-list {
  display: flex;
}

.site-navigation {
  width: 962px;
}

.navigation-list {
  width: 432px;
  margin: 0;
  padding: 0;
}

.advantages-list,
.services-list {
  display: flex;
  flex-wrap: wrap;
}

.page-header {
  width: 1200px;
  height: 64px;
  box-sizing: border-box;
  padding: 0 70px;
}

.page-logo {
  width: 140px;
  margin-right: 28px;
  z-index: 1;
}

.navigation-menu {
  max-width: 452px;
  margin: auto 0;
  padding: 0;
  justify-content: flex-start;
}

.navigation-item {
  margin: 0;
  padding: 20px 16px;
}

.user-menu {
  width: 268px;
  margin: auto 0;
  padding: 0;
  margin-left: 285px;
}

.greeting-text {
  display: block;
  margin: 51px auto 82px;
}

.greeting-intro {
  text-align: center;
  margin: 0 274px 90px;
}

.intro {
  margin: 69px 0 25px;
}

.group-1 {
  display: flex;
  width: 1200px;
  align-items: center;
}

.group-2,
.group-3,
.services-item {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  align-items: center;
  justify-content: center;
}

.services-invitation {
  margin: 64px 0;
  text-align: center;
}

.services-title {
  margin: 0 347px 20px;
}

.booking-form {
  margin: 96px 304px;
  text-align: center;
}

.newsletter-main-page,
.newsletter-catalog {
  text-align: center;
}

.newsletter h3 {
  margin: 96px auto 20px;
}

.newsletter p {
  width: 475px;
  margin: 0 auto 54px;
}

.newsletter-subscription {
  margin: 0 auto 104px;
}

.footer-container {
  justify-content: space-between;
  padding: 45px 70px 35px;
}

.social-list {
  width: 142px;
  justify-content: space-evenly;
  margin: auto 0;
}

.developer-logo {
  margin: auto 0;
  padding: 0;
}

/*CATALOG*/

.hotels-filter {
  padding: 35px 70px 70px;
  margin: 0 0 50px;
}

.hotels-filter-header {
  padding: o;
  margin: 0 0 40px;
}

.hotels-filter h1 {
  margin: 0;
}

.breadcrumbs,
.catalog-filter {
  display: flex;
}

.catalog-filter-list,
.buttons-container {
  display: flex;
  flex-direction: column;
}

.catalog-filter-group-left {
  width: 151px;
  margin: 0;
  padding: 0;
}

.catalog-filter-group-right {
  width: 288px;
  margin: 0 70px 0 140px;
  padding: 0;
}

.buttons-container {
  width: 191px;
  padding: 0;
  justify-content: center;
}

.buttons-container .submit-button {
  margin: 56px 0 32px;
}

.hotel-catalog {
  width: 1060px;
  padding: 0 70px 60px;
}

.hotel-list-block {
  margin: 0 0 40px;
}

.search-result,
.sort-by-container,
.display-as,
.pagination {
  display: flex;
}

.search-result {
  justify-content: space-between;
  margin: 0 0 40px;
}

.search-found {
  margin: 0;
  padding: 0;
}

.sort-by-container {
  width: 522px;
}

.sort-by {
  margin: 0 70px 0 0;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 18px;
}

.hotel-card {
  padding: 20px 20px 16px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-card-image {
  margin: 0;
  padding: 0;
}

.rating-mark {
  margin: 0;
}

.pagination {
  justify-content: flex-start;
}

.pagination-item {
  width: 60px;
  height: 60px;
  text-align: center;
}
