@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color:#000000;
  text-decoration: none;
}

.user-menu-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
}

.user-menu-link .favs-number {
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #7DB54F;
}

.greeting-banner {
  background-image:
  url(../images/main-banner-divider.svg),
  url(../images/photos/background-index.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: 100% auto, 100% auto;
  background-color: #222c37;
  background-position: bottom, center;
}

.intro,
.services-title,
.booking-form h3,
.newsletter-catalog h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages,
.services-description,
.booking-form p,
.newsletter-catalog p {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.navigation-list,
.advantages-list,
.services-list,
.social-list,
.breadcrumbs,
.catalog-filter-list,
.catalog-filter-group,
.display-as,
.pagination,
.hotel-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.group-1 h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
}

.group-2 h3,
.services-item h3,
.group-3 h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.group-1 {
  background-color:#83B3D3;
}

.group-2 {
  background-color: rgba(131, 179, 211, 0.12);
}

.group-3 {
  background-color: rgba(131, 179, 211, 0.2);
}

.group-1 p {
  font-weight: 400;
  color: #FFFFFF;
}

.group-2 p,
.services-item p,
.group-3 p {
  font-weight: 400;
  color: #333333;
}

.housing {
  background-image: url(../images/services-house.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 162px 81px;
  background-color: rgba(131, 179, 211, 0.12);
}

.food {
  background-image: url(../images/services-food.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 162px 81px;
  background-color: #FFFFFF;
}

.gifts {
  background-image: url(../images/services-gift.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 162px 81px;
  background-color: rgba(131, 179, 211, 0.12);
}

.hotel-search {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}

.newsletter-main-page {
  background-image: url(../images/photos/background-subscribe.jpg);
  background-color: #82B3D3;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.newsletter-main-page h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
}

.newsletter-main-page p {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #FFFFFF;
}

.newsletter-subscription .submit-button,
.pagination-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  padding: 0;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

.newsletter-subscription .field {
  background-image: url(../images/icons/newsletter-email.svg);
  background-repeat: no-repeat;
  background-size: 16px 15px;
  background-color: #F2F2F2;
  margin: 0;
  background-position: 367px center;
}

.social-item {
  width: 47px;
  height: 40px;
}

.social-item-button {
  display: inline-block;
  background-position: 50% 50%;
  background-size: auto;
  width: 24px;
  height: 18px;
}

.vkontakte .social-item-button {
  background-image: url(../images/icons/social-vk.svg);
  background-repeat: no-repeat;
  padding: 11px 10px;
}

.telegram .social-item-button {
  background-image: url(../images/icons/social-telegram.svg);
  background-repeat: no-repeat;
  padding: 12px 11px;
}

.youtube .social-item-button {
  background-image: url(../images/icons/social-youtube.svg);
  background-repeat: no-repeat;
  padding: 11px 12px;
}

.hotels-filter {
  background-image: url(../images/photos/background-catalog-hotel-filter.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #82B3D3;
  color: #FFFFFF;

}

.hotels-filter h1 {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-item a {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.catalog-filter .submit-button,
.catalog-filter .reset-button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  padding: 0;
  cursor: pointer;
}

.catalog-filter .submit-button {
  background-color: #756157;
  padding: 8px 50px;
  border-radius: 4px;
}

.catalog-filter .reset-button {
  background-color: transparent;
}

.search-found {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.sort-by {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #FFFFFF;
}

.display-as-plates {
  background-image: url(../images/icons/display-as-plates.svg);
  background-repeat: no-repeat;
  background-size: auto;
  display: inline-block;
  background-position: center;
}

.display-as-slideshow {
  background-image: url(../images/icons/display-as-slideshow.svg);
  background-repeat: no-repeat;
  background-size: auto;
  display: inline-block;
  background-position: center;
}

.display-as-list {
  background-image: url(../images/icons/display-as-list.svg);
  background-repeat: no-repeat;
  background-size: auto;
  display: inline-block;
  background-position: center;
}

.hotel-card-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.hotel-type,
.hotel-min-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.hotel-description-page,
.add-to-favs,
.in-favs {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  padding: 0;
}

.add-to-favs {
  background-color: #82B3D3;
}

.in-favs {
  background-color: #7DB54F;
}

.rating-mark {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

.pagination-current {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #F2F2F2;
  text-transform: uppercase;
  text-decoration: none;
}

.newsletter-subscription .catalog {
  background-image: none;
}

.search-button {
  background-image: url(../images/icons/user-menu-search.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #FFFFFF;
  background-position: 50% 50%;
  color: inherit;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 22px 12px;
}

.favorites-button {
  background-image: url(../images/icons/user-menu-favorites.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #FFFFFF;
  background-position: 50% 50%;
  color: inherit;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 22px 12px;
}

.favs-number {
  position: relative;
  top: -12px;
  left: 10px;
  padding: 4px;
  border-radius: 10px;
  text-align: center;
}

.home-icon {
  background-image: url(../images/icons/to-the-main.svg);
  background-repeat: no-repeat;
  width: 13px;
  height: 12px;
  background-position: bottom;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip-path: rect(0,0,0,0);
  overflow: hidden;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/*СЕТКИ*/

html {
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page-header,
.site-navigation,
.navigation-list,
.footer-container,
.social-list {
  display: flex;
}

.site-navigation {
  width: 1100px; /*962px; - из-за position absolute у лого, он вылетел, поэтому увеличила*/
}

.advantages-list,
.services-list {
  display: flex;
  flex-wrap: wrap;
}

.page-header {
  width: 1200px;
  box-sizing: border-box;
  padding: 0 70px;
  position: relative;
}

.navigation-link-page-logo {
  width: 140px;
  padding: 0;
  position: absolute;
  top: 0;
  left: 70px;
}

.navigation-menu {
  flex-wrap: wrap;
  max-width: 642px;
  margin: 0 0 0 168px;
  padding: 0;
  justify-content: flex-start;
}

.navigation-link {
  display: inline-block;
  margin: 0;
  padding: 20px 16px;
}

.user-menu {
  width: 268px;
  margin: auto 0;
  padding: 0;
  margin-left: auto;
}

.booking-button {
  display: inline-block;
  padding: 8px 34px;
  border-radius: 4px;
  margin: 14px 0;
  margin-left: 20px;
}

.greeting-banner {
  margin: 0;
  padding: 48px 50px 80px;
  text-align: center;
}

.greeting-intro {
  text-align: center;
  padding: 70px 274px;
}

.intro {
  margin: 0 0 25px;
}

.group-1 {
  display: flex;
  width: 1200px;
  align-items: center;
}

.advantages-item-text {
  padding: 100px 86px;
  margin: 0;
  text-align: center;
}

.advantages-item-text-center {
  padding: 112px 85px;
  margin: 0;
  text-align: center;
}

.group-2,
.group-3,
.services-item {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

.services-invitation {
  padding: 64px 347px;
  text-align: center;
}

.services-title,
.booking-form h3,
.newsletter h3 {
  margin: 0 0 20px;
}

.services-item-text {
  padding: 183px 85px 81px;
  margin: 0;
  text-align: center;
}

.advantages-item h3,
.services-item-text h3 {
  margin: 0 0 30px;
}

.advantages-item p,
.services-description,
.services-item-text p,
.booking-form p,
.newsletter p {
  margin: 0;
}

.booking-form {
  padding: 96px 304px;
  text-align: center;
}

.hotel-search {
  display: inline-block;
  margin-top: 54px;
  padding: 8px 50px;
  border-radius: 4px;
}

.newsletter-main-page,
.newsletter-catalog {
  padding: 96px 258px 104px;
  text-align: center;
}

.newsletter-subscription {
  margin: 54px 0 0;
}

.footer-container {
  padding: 40px 70px 30px;
}

.social-list {
  flex-wrap: wrap;
  max-width: 242px;
  margin: auto 0;
  margin-right: auto;
  padding: 5px 0;
  justify-content: flex-start;
}

.developer-logo {
  margin: auto 0;
  margin-left: auto;
  padding: 0;
}

.footer-contacts {
  margin: 0 auto;
}

/*CATALOG*/

.hotels-filter {
  padding: 35px 70px 70px;
  margin: 0;
}

.hotels-filter-header {
  padding: 0;
  margin: 0 0 40px;
}

.hotels-filter h1 {
  margin: 0;
}

.breadcrumbs,
.catalog-filter {
  display: flex;
}

.catalog-filter-list,
.buttons-container {
  display: flex;
  flex-direction: column;
}

.catalog-filter-group-left {
  width: 151px;
  margin: 0;
  padding: 0;
}

.catalog-filter-group-right {
  width: 288px;
  margin: 0 70px 0 140px;
  padding: 0;
}

.buttons-container {
  width: 191px;
  padding: 0;
  justify-content: center;
}

.buttons-container .submit-button {
  margin: 56px 0 32px;
}

.hotel-catalog {
  width: 1060px;
  padding: 50px 70px 60px;
}

.search-result,
.sort-by-container,
.display-as,
.pagination {
  display: flex;
  box-sizing: border-box;
}

.search-result {
  justify-content: space-between;
  margin: 0;
  margin-bottom: 40px;
}

.search-found {
  margin: 6px 0;
  padding: 0;
}

.sort-by-container {
  width: 522px;
}

.sort-by {
  margin: 0 70px 0 0;
}

.hotel-list-block {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.hotel-card {
  box-sizing: border-box;
  max-width: 340px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 1fr repeat(3, min-content);
  gap: 16px 20px;
  align-items: center;
  margin: 0;
}

.hotel-card-image {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  object-fit: contain;
}

.hotel-card-link {
  grid-column: 1/-1;
  margin: 0;
  align-self: start;
}

.hotel-min-price {
  justify-self: end;
}

.pagination {
  justify-content: flex-start;
}

.pagination-item {
  width: 60px;
  height: 60px;
  text-align: center;
}

/*МИКРОСЕТКИ*/

.user-menu-item {
  min-width: 44px;
  height: 64px;
}

.advantages-item-text-center h3 {
  padding: 0 27px;
}

.newsletter p {
  padding: 0 104px;
}

.newsletter-subscription {
  width: 684px;
  display: flex;
}

.newsletter-subscription .submit-button {
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
  width: 232px;
  cursor: pointer;
}

.newsletter-subscription .field {
  padding: 0;
  border: none;
  box-shadow: none;
  width: 452px;
  border-radius: 4px 0 0 4px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding-left: 20px;
}

.hotels-filter-header h1 {
  margin-bottom: 8px;
}

.breadcrumbs {
  align-items: center;
  margin-bottom: 40px;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 5px;
}

.breadcrumbs-item:not(:last-child):after {
  content: "";
  display: inline-block;
  background-image: url("../images/catalog-breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 5px;
  width: 8px;
  height: 12px;
}

.catalog-filter-group-left,
.catalog-filter-group-right {
  border: none;
}

.catalog-filter-group-left {
  width: 150px;
}

.catalog-filter-title {
  margin-bottom: 32px;
}

.sort-by {
  width: 292px;
  padding: 12px 18px;
  border-radius: 4px;
  border-color: #E5E5E5;
  color: #333333;
  box-sizing: border-box;
}

.display-as-wrapper:not(:last-child) {
  margin-right: 8px;
}

.display-as-wrapper {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
}

.display-as-wrapper a {
  padding: 15px 14px;
  text-decoration: none;
  display: block;
  width: 16px;
  height: 14px;
}

.hotel-description-page,
.in-favs,
.add-to-favs,
.rating-mark,
.rating-stars {
  display: block;
  border-radius: 4px;
  margin: 0;
  box-sizing: border-box;
  max-width: 140px;
}

.hotel-card-content p {
  margin: 0;
}

.hotel-description-page {
  padding: 8px 26px;
}

.add-to-favs {
  padding: 8px 20px;
  cursor: pointer;
}

.in-favs {
  padding: 8px 18px;
  cursor: pointer;
}

.rating-mark {
  padding: 8px 22px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  padding: 11px 18px;
  border-radius: 4px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-block {
  margin: 0;
  padding: 0;
}

.hotel-card-title,
.hotel-card p {
  margin: 0;
}

.pagination-in-between {
  display: inline-block;
}
